.container {
  padding-top: 5rem;;
  display: flex; /* or inline-flex */
  /* justify-content: left; */
 
  max-height: 300px;
}
.firstcol{
  max-width: 300px;
  margin-left: 40%;
  margin-right: 1rem;

}
.author{
  margin:0;
  
}
 .title{
  margin:0;
  margin-bottom: 2rem;
}
 .secondcol{ 
  flex: 1 1 auto;
  max-width: 200px;
  min-width: 150px; 

} 